{% extends 'base.html' %}

{% block title %}Редактировать пользователя{% endblock %}

{% block menu %}
    <li class="nav-item my-2"><a class="nav-link" href="{% url "accounts:detail" user_obj.pk %}">Назад</a></li>
    <li class="nav-item my-2"><a class="nav-link" href="#">Смена пароля</a></li>
{% endblock %}

{% block content %}
    <h1>Поменять личные данные</h1>
    <form action="{% url "accounts:change" user_obj.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partial/form.html' with form=form fields_only=True %}
        {% include 'partial/form.html' with form=profile_form fields_only=True %}
        <br>
        <input class="mb-3" type="submit" value="Сохранить">
    </form>
{% endblock %}