{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
    <li class="nav-item my-2"><a class="nav-link" href="#">Редактировать</a></li>
    <li class="nav-item my-2"><a class="nav-link" href="#">Смена пароля</a></li>
{% endblock %}

{% block content %}
    <h1 class="m-4">Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>О себе: {{ user_obj.profile.about_user }}</p>
    <p>Профиль на GitHub:{{ user_obj.git_profile }}</p>

    <h2 class="text-center clear m-3">Проекты:</h2>
    {% include 'partial/project_list.html' %}
{% endblock %}