{% extends "base.html" %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'task_view' task.pk %}">View</a></li>
{% endblock %}

{% block content %}
    <h1 class="title mt-5">Вы уверены, что хотите удалить данную задачу: "{{ task }}"?</h1>
    <form method="POST" action="{% url "task_delete" task.pk %}" class="text-center">
        {% csrf_token %}
        <p><input class="btn btn-primary" type="submit" value="Да"></p>
        <p><a class="btn btn-primary" href="{% url "task_view" task.pk %}" role="button">Нет</a></p>
    </form>
{% endblock %}